---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "500 Error"

interface Props {
    error: unknown
}

const { error } = Astro.props
---

<BaseLayout pageTitle={pageTitle}>
    <div class="error">
	    <h1>500 Error!</h1>
        <img src="https://media.tenor.com/Es9wm76r9QkAAAAj/angry-typing-cat.gif" alt="">
        <p>Server encountered internel error or misconfiguration.</p>
        <div>
            <p>Error message:</p>
            <span>
                {error instanceof Error ? error.message : 'Unknown error'}
            </span>
        </div>
    </div>
</BaseLayout>

<style>
    body{
        text-align: center;
    }
    .error{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vh;
        height: 80vh;
    }
    h1 {
        color: rgb(223, 22, 22);
        font-size: 8rem;
    }
    i {
        color: rgb(230, 22, 22);
        font-size: 8rem;
    }
    p{
        font-size: 3rem;
    }
    span{
        font-size: 2rem;
    }
</style>