---
import Layout from '../layouts/Layout.astro';
const pageTitle = "About Me"
---

<Layout pageTitle={pageTitle}>
    <h2>About Me</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo voluptatibus obcaecati optio maxime expedita! Porro placeat aliquam harum temporibus dicta nisi asperiores quae nam omnis molestiae, quaerat tempore neque ratione!
    </p>
    <h2>About My Blog Posts</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quae dolore maxime reprehenderit iusto id aliquam adipisci quod accusantium vero aut blanditiis dolorem commodi, ab sunt temporibus eos voluptate laborum!
    </p>
</Layout>