---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me"
---

<BaseLayout pageTitle={pageTitle}>
    <h2>About Me</h2>
    <p>
        Hey! My name is James and I'm a tech enthusiast that loves to build and tinker with 
        Linux, home server (homelab), cloud services, building PCs, gaming, etc.
    </p>
    <h3>My Background</h3>
    <p>
        I am currently a student pursing a master's degree in Computer Science in BU 
        with a undergraduate degree in Electronic Engineering at HKUST.
    </p>
    <p>
        For more info, <a href="https://jyyoung.com" target="_blank" class="portfolio-link">portfolio</a>.
    </p>
    <h2>About My Blog Posts</h2>
    <p>
        These blog posts are mainly for myself, where I mainly document my experience
        with building hobby projects, things I learnt, and other random tidbits 
        I find interesting.

    </p>
</BaseLayout>

<style>
    .portfolio-link {
        color: var(--blue);
    }
    .portfolio-link:hover {
        color: var(--sapphire);
    }

</style>