---
---
<header>
    <nav class="nav-bar">
        <div class="nav-logo">
            <a href="/">
                James' Blog
            </a>
        </div>
        <div class="nav-menu" id="nav-menu">
            <ul class="nav-list" id="nav-list">
                <i class='bx bx-collapse nav-close' id="nav-close"></i>
                <li><a href="/posts"><i class='bx bx-news'></i> Posts</a></li>
                <!-- <li>
                    <a href="">Archives</a>
                 </li> -->
                <!-- <li>
                    <a href="/projects">
                        <i class='bx bx-terminal'></i> Projects
                    </a>
                 </li> -->
                <li>
                    <a href="/about"><i class='bx bx-info-circle'></i> About</a>
                </li>
                <li class="theme">
                    <button class="theme-toggle" id="theme-toggle">
                        <i class='bx bxs-moon dark-theme' id="dark-theme"></i>
                        <i class='bx bx-sun' id="light-theme"></i>
                        <span>Theme</span>
                    </button>
                </li>
            </ul>
        </div>
        <i class='bx bx-menu nav-toggle' id="nav-toggle"></i>
    </nav>
</header>